@import "../variables";

.button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px 0;
  border: none;
  height: 44px;
  color: #2d2c2c;
  font-family: $play;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: $transition;

  @media (max-width: 1000px) {
    font-size: 16px;
    height: 40px;
  }

  &--pink {
    background-color: #ffebeb;

    &:hover {
      background-color: darken(#ffebeb, 5%);
    }
  }

  &--white {
    background-color: #ffffff;

    &:hover {
      background-color: darken(#ffebeb, 5%);
    }
  }

  &--black {
    background-color: #2d2d2d;
    color: #ffffff;

    &:hover {
      background-color: lighten(#2d2d2d, 5%);
    }
  }

  i {
    color: #535353;
    margin-left: 15px;
  }
}