.candy-top-separator {
  background: #fff;
  padding: 35px 45px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #f5f5f5;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}