@import "../variables";

#topCarousel {
  .carousel-indicators {
    li {
      width: 11px;
      height: 11px;
      border: 1px solid #95989a;
      background-color: #ffffff;
      margin-right: 4px;
      margin-left: 4px;

      &.active {
        background-color: #2d2c2c;
      }
    }
  }

  .carousel-prev {
    display: block;
    width: 68px;
    height: 68px;
    background: rgba(45, 44, 44, .5) url("../img/carousel-prev.svg") center center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 35px;
    margin-top: -34px;
    transition: $transition;

    @media (max-width: 1000px) {
      width: 34px;
      height: 34px;
      margin-top: -17px;
      left: 0;
      border-radius: 0;
    }

    &:hover {
      background-color: rgba(45, 44, 44, .8);
    }
  }

  .carousel-next {
    display: block;
    width: 68px;
    height: 68px;
    background: rgba(45, 44, 44, .5) url("../img/carousel-next.svg") center center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 35px;
    margin-top: -34px;
    transition: $transition;

    @media (max-width: 1000px) {
      width: 34px;
      height: 34px;
      margin-top: -17px;
      right: 0;
      border-radius: 0;
    }

    &:hover {
      background-color: rgba(45, 44, 44, .8);
    }
  }
}