@import "../variables";

.checkbox-custom {
  position: relative;
  display: flex;
  align-items: center;

  [type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  [type=checkbox]:checked + .checkbox-custom__element {
    background-image: url("../img/checkbox-custom.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__element {
    width: 16px;
    height: 16px;
    border: 1px solid #95989a;
    background-color: #ffffff;
  }

  &__text {
    margin-left: 15px;
    color: #535353;
    font-family: $garamond;
    font-size: 20px;
    font-weight: 600;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
}