@import "../variables";

.footer {
    background-color: #2d2d2d;
    margin-top: 190px;
    position: relative;

    @media (max-width: 991px) {
        text-align: center;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 190px;
        background: url("../img/sup-footer.png") bottom center no-repeat;
        top: -190px;
        left: 0;
        right: 0;
    }
    
    &__phone {
        height: 23px;
        color: #ffffff;
        font-family: $play;
        font-size: 20px;

        &--link {
            color: #fff;
            transition: $transition;
            
            &:hover {
                color: #ffebeb;
                text-decoration: none;
            }
        }
    }
    
    &__watermark {
        color: #ffffff;
        font-family: $play;
        font-size: 14px;
        font-weight: 400;
        padding-top: 21px;
    }

    &__search {
        padding-top: 82px;

        @media (max-width: 991px) {
            padding-top: 10px;
        }
    }

    &__search-input {
        color: #ffffff;
        background-color: transparent;
        border: none;
        height: 100%;
        vertical-align: middle;
        flex: 1;
    }

    &__search-logo {
        height: 20px;
        margin: 2px 8px;
        color: #fff;
    }

    &__search-border {
        border-radius: 5px;
        border: 1px solid #fff;
        height: 40px;
        width: 288px;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            width: 100%;
        }
    }
    
    &__socialLinks {      
        &--text {
            height: 22px;
            color: #ffffff;
            font-family: $play;
            font-size: 14px;
            font-weight: 400;
        }
    }
    
    &__email {
        height: 22px;
        color: #b9b9b9;
        font-family: $play;
        font-size: 14px;
        font-weight: 400;

        &--link {
            color: #b9b9b9;
            transition: $transition;

            &:hover {
                color: #ffebeb;
                text-decoration: none;
            }
        }
    }
    
    &__geo {
        height: 22px;
        color: #b9b9b9;
        font-family: $play;
        font-size: 14px;
        font-weight: 400;
    }
}

.subfooter {
    background-color: #39393e;
    text-align: center;

    &__watermark {
        color: #7d7d7d;
        font-family: $play;
        font-size: 14px;
        font-weight: 400;
    }
}

.additional_img {
    width: 20px;
    color: #95989a;
    margin-right: 10px;
}