@import "../variables";

.giftSelection {
    background-color: #ffeeee;
    position: relative;
    overflow: hidden;

    @media (max-width: 600px) {
        padding-bottom: 50px !important;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        background: url("../img/giftSelection.png") left top no-repeat;
        top: -50px;
    }

    .button {
        padding: 0 24px;
    }
  
    &__title {
        color: #2d2d2d;
        font-family: $opensans;
        font-size: 26px;
        font-weight: 700;
        position: relative;

        @media (max-width: 991px) {
            font-size: 20px;
            text-align: center;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background: #fff;
            top: 18px;

            @media (max-width: 991px) {
                position: static;
            }
        }
  
        span {
            background: #ffeeee; 
            position: relative;
            padding-right: 32px;
            z-index: 1;

            @media (max-width: 991px) {
                padding: 0;
                margin-bottom: 10px;
                display: block;
            }
        }
    }

    &__category-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__category {
        max-width: 20%;
        flex: 0 0 20%;
        padding: 0 20px;

        @media (max-width: 880px) {
            max-width: 33.33%;
            flex: 0 0 33.33%;
            margin-bottom: 15px;
        }

        @media (max-width: 600px) {
            max-width: 50%;
            flex: 0 0 50%;
        }

        &:not(:last-child) {
            border-right: 1px solid #fff;
        }
    }

    &__category-title {
        color: #2d2c2c;
        font-family: $play;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 880px) {
            margin-bottom: 15px;
        }

        img {
            max-width: 30px;
            margin-right: 10px;
        }
    }
}