.go-to-catalog {
  position: relative;
  margin: 0 45px;

  @media (max-width: 1000px) {
    margin: 0;
  }

  &__button {
    display: table;
    margin: 0 auto;
    padding: 0 30px;
    background: #fbf8f8;
    position: relative;

    .button {
      padding: 0 18px;
    }
  }

  &:before {
    content: '';
    display: block;
    height: 2px;
    background-color: #ececec;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}