@import "../variables";

.header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-image: linear-gradient(180deg, #000000 0%, rgba(37, 36, 36, 0.17) 83%, rgba(45, 44, 44, 0) 100%);

  @media (max-width: 1000px) {
    display: none;
  }

  &__logo {
    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }

  &__search {
    button {
      width: 123px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      background: transparent;
      font-family: $play;
      font-size: 14px;
      color: #f1f1f1;
      cursor: pointer;
      transition: $transition;

      @media (max-width: 1300px) {
        width: 40px;
      }

      i {
        margin-right: 18px;
        font-size: 21px;
        vertical-align: middle;

        @media (max-width: 1300px) {
          margin-right: 0;
        }
      }

      span {
        vertical-align: middle;

        @media (max-width: 1300px) {
          display: none;
        }
      }

      &:hover {
        background: #fff;
        color: #ffb9da;
      }
    }
  }

  &__menu {
    flex: 1;

    nav {
      text-align: center;
      padding: 0 11%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 1300px) {
        padding: 0 3%;
      }

      a {
        color: #ffffff;
        font-family: $play;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  &__contacts {
    font-family: $play;

    .phone {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      display: table;
      text-decoration: none;
      line-height: 1;
    }

    .email {
      color: #ffebeb;
      font-size: 16px;
      text-decoration: none;
      display: table;
      margin: 0 0 0 auto;
    }
  }

  &__cart {
    margin-left: 22px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      line-height: 38px;
      width: 123px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      background: transparent;
      font-family: $play;
      font-size: 14px;
      color: #ffb9da;
      cursor: pointer;
      transition: $transition;

      @media (max-width: 1300px) {
        width: 40px;
      }

      i {
        margin-right: 18px;
        font-size: 21px;
        vertical-align: middle;
        color: #f1f1f1;
        transition: $transition;

        @media (max-width: 1300px) {
          margin-right: 0;
        }
      }

      span {
        vertical-align: middle;

        @media (max-width: 1300px) {
          display: none;
        }
      }

      &:hover {
        background: #fff;

        i {
          color: #ffb9da;
        }
      }
    }
  }

  &__search-area {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    top: 90px;
    padding: 15px 20px;
    border-bottom: 4px solid #ff78b5;
    align-items: center;
    display: none;

    label {
      color: #ff78b5;
      font-family: $play;
      font-size: 38px;
      font-weight: 700;
    }

    input {
      height: 60px;
      border: none;
      background: none;
      flex: 1;
      padding: 0 30px;
      color: #2d2d2d;
      font-size: 30px;
      font-weight: 600;
    }

    button {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
      border-radius: 8px 0;
      background-color: #ff78b5;
      border: none;
      width: 120px;
      height: 60px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      transition: $transition;

      i  {
        margin-right: 0;
      }

      &:hover {
        background: darken(#ff78b5, 5%);
      }
    }
  }

  &.search-show {
    background-color: #fff;

    .header__search {
      button {
        background-color: #ff78b5;
        color: #fff;
      }
    }

    .header__search-area {
      display: flex;
    }
  }
}