.mobile-header {
  padding: 8px;
  background-color: #2d2d2d;
  display: none;
  align-items: center;
  position: relative;

  @media (max-width: 1000px) {
    display: flex;
  }

  &__logo {
    flex: 1;

    img {
      width: 75px;
      height: auto;
    }
  }

  &__nav {
    position: static;
    margin-left: 12px;

    .dropdown-menu {
      border-radius: 0;
      border: none;
      border-top: 4px solid #ffb9da;
      border-bottom: 4px solid #ffb9da;
      background-color: #ffebeb;
      margin: 65px 0 0;
      width: 100%;
      transform: none !important;
      padding: 0;

      &__title {
        color: #ff78b5;
        font-family: $play;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
      }

      &__link-list {
        border-bottom: 1px solid #efd0d0;

        a {
          display: flex;
          align-items: center;
          border-top: 1px solid #efd0d0;
          padding: 10px 15px;
          text-decoration: none;
        }
      }

      &__link-list-icon {
        width: 26px;
        text-align: center;
        margin-right: 25px;

        img {
          max-width: 100%;
        }
      }

      &__link-list-text {
        color: #2d2c2c;
        font-family: $play;
        font-size: 16px;
        font-weight: 700;
      }

      &__search {
        padding: 4px 8px;
        background: #fff;

        form {
          display: flex;
          align-items: center;

          label {
            color: #ff78b5;
            font-family: $play;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 2px;
          }

          input {
            height: 40px;
            border: none;
            background: none;
            flex: 1;
            padding: 0 10px;
            color: #2d2d2d;
            font-size: 14px;
            font-weight: 600;
          }

          button {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
            border-radius: 8px 0;
            background-color: #ff78b5;
            border: none;
            width: 40px;
            height: 40px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            transition: $transition;

            i  {
              margin-right: 0;
            }

            &:hover {
              background: darken(#ff78b5, 5%);
            }
          }
        }
      }
    }

    &.show {
      .mobile-header__nav-close {
        display: block;
      }
    }
  }

  &__nav-buttons {
    position: relative;
  }

  &__nav-open,
  &__nav-button {
    height: 42px;
    min-width: 42px;
    background: transparent;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    font-family: $play;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: $transition;
    position: relative;

    span {
      position: absolute;
      color: #fff;
      background: #ffb9da;
      width: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 13px;
      bottom: 0;
      right: 0;
      border-radius: 4px;
    }

    i {
      font-size: 20px;
    }

    &:hover {
      background: #fff;
      border-color: #fff;
      color: #2d2d2d;
    }
  }

  &__nav-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 53px;
    border-radius: 5px 5px 0 0;
    background-color: #ffb9da;
    border: none;
    color: #fff;
    font-size: 20px;
    display: none;
  }
}