@import "../variables";

.presentsCategories {
  background-color: #ffeeee;
  padding: 0 40px;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  &__title {
    color: #2d2d2d;
    font-size: 26px;
    font-weight: 700;
    position: relative;
    padding-top: 15px;

    @media (max-width: 991px) {
      font-size: 20px;
      text-align: center;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: #fff;
      top: 33px;

      @media (max-width: 991px) {
        position: static;
      }
    }

    span {
      background: #ffeeee;
      position: relative;
      padding-right: 35px;
      z-index: 1;

      @media (max-width: 991px) {
        padding: 0;
        margin-bottom: 10px;
        display: block;
      }
    }
  }

  &__items {
    color: #2d2c2c;
    font-family: $play;
    font-size: 18px;
    font-weight: 700;
    transition: $transition;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    &:hover {
      color: #b98b8b;
      text-decoration: none;
    }
  }

  &__border {
    border-bottom: 1px solid #efd0d0;
    padding: 10px 0;
  }

  &__img {
    max-width: 100%;
  }

  &__present-picture {
    @media (max-width: 991px) {
      margin: 15px 0;
      text-align: center;
    }
  }
}

.presentsCategories-img {
  width: 26px;
  text-align: center;
}