@import "../variables";

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;

  @media (max-width: 1600px) {
    margin: 0;
  }

  &__item-inside {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 20px 15px;

    @media (max-width: 1600px) {
      padding: 0 10px 15px;
    }

    @media (max-width: 1340px) {
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }

    @media (max-width: 820px) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @media (max-width: 550px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__item {
    border-radius: 10px;
    border: 1px solid #ffeeee;
    background-color: #ffffff;
    position: relative;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    padding: 15px 0 10px;
    display: block;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &__title {
    display: block;
    text-align: center;
    color: #2d2c2c;
    font-family: $play;
    font-size: 18px;
    font-weight: 700;
    padding: 0 13px 10px;

    &:hover {
      color: #2d2c2c;
      text-decoration: none;
    }
  }

  &__description {
    padding: 0 13px;

    p {
      color: #585858;
      font-size: 14px;
    }
  }

  &__bottom {
    background: #ffeeee;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    color: #2d2d2d;
    font-family: $garamond;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;

    @media (max-width: 1450px) {
      font-size: 20px;
    }
  }

  .button {
    font-size: 14px;

    i {
      color: #95989a;
      font-size: 20px;
    }
  }
}