.title-block {
  padding: 15px 55px;
  background: #fff;
  position: relative;

  @media (max-width: 1100px) {
    padding: 15px;
  }

  @media (max-width: 800px) {
    padding: 10px;
  }

  h1 {
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    position: relative;

    @media (max-width: 1000px) {
      font-size: 20px;
    }

    .h1-text {
      background: #fff;
      padding: 0 40px;
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 40px;
      margin: 0 auto;

      @media (max-width: 800px) {
        height: auto;
        padding: 0;
      }

      &__icon {
        margin-right: 25px;

        @media (max-width: 800px) {
          max-width: 60px;
        }

        img {
          max-width: 100%;
        }
      }

      &__text {
        line-height: 40px;
      }
    }

    &:before {
      content: '';
      display: block;
      height: 1px;
      background-color: #f5f5f5;
      position: absolute;
      width: 100%;
      top: 20px;
      left: 0;

      @media (max-width: 800px) {
        display: none;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    padding-left: 22px;
    margin-top: -22px;

    @media (max-width: 1100px) {
      right: 15px;
    }

    @media (max-width: 1000px) {
      margin-top: -20px;
    }

    @media (max-width: 800px) {
      position: static;
      margin: 5px auto 0;
      display: table;
      padding: 0 20px;
    }
  }
}