<footer class="footer">
    <div class="container-fluid px-lg-5">
        <div class="d-lg-flex justify-content-between py-lg-3">
            <div>
                <div class="footer__watermark">
                    Разработано digital-агентсвом Webaze
                </div>
                <div class="footer__search d-flex">
                    <div class="footer__search-border">
                        <img class="footer__search-logo" src="img/search.svg" alt="">
                        <input class="footer__search-input" type="text" placeholder="Введите запрос">
                    </div>
                </div>
            </div>
            <div>
                <img class="pt-4" src="img/logo.png" alt="">
            </div>
            <div class="text-center text-lg-right">
                <div class="footer__socialLinks my-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="footer__socialLinks--text">
                            Мы в соцсетях:
                        </div>
                        <div class="footer__socialLinks pl-2">
                            <a href="#">
                                <img class="img" src="img/instagram.png" alt="">
                            </a>
                        </div>
                        <div class="footer__socialLinks pl-2">
                            <a href="#">
                                <img class="img" src="img/twitter.png" alt="">
                            </a>
                        </div>
                        <div class="footer__socialLinks pl-2">
                            <a href="#">
                                <img class="img" src="img/vk.png" alt="">
                            </a>
                        </div>
                        <div class="footer__socialLinks pl-2">
                            <a href="#">
                                <img class="img" src="img/facebook.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__phone my-3">
                    <a href="tel:+79285962345" class="footer__phone--link">+7 928 596-23-45</a>
                </div>
                <div class="footer__email my-3">
                    <img class="footer__email additional_img" src="img/message.svg" alt=""> 
                    <a href="mailto:candytop@gmail.com" class="footer__email--link">candytop@gmail.com</a>
                </div>
                <div class="footer__geo my-3">
                    <img class="footer__geo additional_img" src="img/mapmarker.svg" alt="">
                    <a href="https://yandex.com/maps/-/CBuPqVsa8D" class="footer__email--link">г.Москва ул. Пушкина  123</a>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="subfooter__watermark py-2">
            2018 Магазин подарков СandyTop
        </div>
    </div>
</footer>
<script src="js/main.js"></script>