<div class="mobile-header">
    <div class="mobile-header__logo">
        <a href="/">
            <img src="img/header__logo.svg" alt="">
        </a>
    </div>

    <div class="mobile-header__nav">
        <div class="mobile-header__nav-buttons" id="catalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <button class="mobile-header__nav-open">
                Каталог
            </button>

            <button class="mobile-header__nav-close">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="dropdown-menu" aria-labelledby="catalog">
            <div class="dropdown-menu__title">КАТАЛОГ</div>

            <div class="dropdown-menu__link-list">
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-icon">
                        <img src="img/presentsCategories/gift.png" alt="">
                    </div>
                    <div class="dropdown-menu__link-list-text">Подарочные наборы</div>
                </a>
            </div>
        </div>
    </div>
    <div class="mobile-header__nav dropdown">
        <div class="mobile-header__nav-buttons" id="search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <button class="mobile-header__nav-open">
                <i class="fas fa-search"></i>
            </button>

            <button class="mobile-header__nav-close">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="dropdown-menu" aria-labelledby="search">
            <div class="dropdown-menu__search">
                <form>
                    <label for="mobile-search">Поиск</label>
                    <input id="mobile-search" type="text" placeholder="Введите запрос...">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="mobile-header__nav">
        <button class="mobile-header__nav-button">
            <i class="fas fa-gift"></i>
            <span>3</span>
        </button>
    </div>
    <div class="mobile-header__nav">
        <div class="mobile-header__nav-buttons" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <button class="mobile-header__nav-open">
                <i class="fas fa-bars"></i>
            </button>

            <button class="mobile-header__nav-close">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="dropdown-menu" aria-labelledby="menu">
            <div class="dropdown-menu__title">МЕНЮ</div>

            <div class="dropdown-menu__link-list">
                <a href="#">
                    <div class="dropdown-menu__link-list-text">Подарки</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-text">Мастерская</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-text">Доставка и оплата</div>
                </a>
                <a href="#">
                    <div class="dropdown-menu__link-list-text">Контакты</div>
                </a>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="header__logo">
        <a href="/">
            <img src="img/header__logo.svg" alt="">
        </a>
    </div>
    <div class="header__search">
        <button>
            <i class="fas fa-search"></i>
            <span>Поиск</span>
        </button>

        <div class="header__search-area">
            <label>Поиск</label>
            <input type="text" placeholder="Введите запрос...">
            <button><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="header__menu">
        <nav>
            <a href="#">ПОДАРКИ</a>
            <a href="#">МАСТЕРСКАЯ</a>
            <a href="#">ДОСТАВКА</a>
            <a href="#">ОПЛАТА</a>
            <a href="#">КОНТАКТЫ</a>
        </nav>
    </div>
    <div class="header__contacts">
        <a href="tel:89285962345" class="phone">+7 928 596-23-45 </a>
        <a href="mailto:candytop@gmail.com" class="email">candytop@gmail.com</a>
    </div>
    <div class="header__cart">
        <a href="#">
            <i class="fas fa-gift"></i>
            <span>Корзина</span>
        </a>
    </div>
</header>
