<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700i|Open+Sans:400,600,700|Play:400,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">