@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

body {
  font-family: $opensans;
  font-size: 15px;
  background: #fbf8f8;
  min-width: 340px;
}

main {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@import "modules/header";
@import "modules/carousel";
@import "modules/title-block";
@import "modules/button";
@import "modules/product-list";
@import "modules/footer";
@import "modules/go-to-catalog";
@import "modules/gift-selection";
@import "modules/presentsCategories";
@import "modules/candy-top-separator";
@import "modules/checkbox-custom";
@import "modules/mobile-header";

.index-text {
  padding: 15px 45px 10px;
  overflow: hidden;

  @media (max-width: 991px) {
    padding: 10px;
  }

  &__item {
    column-count: 2;
    color: #2d2d2d;
    font-family: $garamond;
    font-size: 18px;

    @media (max-width: 991px) {
      column-count: 1;
      font-size: 15px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

